body {
    font-family: Arial, sans-serif;
}
#menu{
    font-family: Arial, sans-serif;
}
.container-cart{
    width: 50%;
    min-width: 300px;
    max-width: 500px;
    background: #fff;
    padding: 25px 20px;
    margin-top: 120px;
    margin-right: auto;
    margin-left: 200px;
    border-radius: 10px;
}
.container-cart h2{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #765858;
    margin-bottom: 30px;
}
#order-forms{
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    max-width: 500px;
}
#order-form h2{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
}
#menu h2 {
    font-size: 36px;
    font-weight: bolder;
    padding-top: 1.5rem; 
    text-align: center;
    color: #fff;
}
.list{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.list .continue-btn{
    background-color: #fff;
    color: #765858;
    margin-right: 45px;
}
.category-items{
    display: flex;
    flex-wrap: wrap;
    gap: 25px; /* Optional: Adds space between boxes */
    justify-content: center;
}
.category {
    width: 30%;
    max-width: 400px;
    min-width: 350px;
    background-color: #ffffff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.category h3 {
    margin: 0 0 1rem 0;
}
.quantity-controls {
}
.quantity-d, .quantity-i {
    padding: 5px 15px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    margin-right: 5px;
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}
.btns{
    padding: 0.5rem 1rem;
    background-color: #765858;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 15px;
}
.btns:focus {
    outline: none;
}
.btns:hover{
    color: white;
    background-color: #5b3e31;
}
.continue-btn{
    float: right;
}
#cart {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
}

#cart-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#cart-items li {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    color: #000000;
    font-size: 16px;
}

#total-price {
    font-size: 17px;
    font-weight: 600;
    margin-top: 1rem;
    color: #2a2727;
}

#cart-popup {
    display: none;
    position: fixed;
    top: 10%;
    right: 2%;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
#cart-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
#popup-cart-items li{
    padding: 0.5rem 0;
    list-style-type: none;
}
#notification {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
}
.order-forms{
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.details{
    padding: 15px;
    font-size: 20px;
}
.details input{
    padding: 10px;
    width: 300px;
    font-size: 18px;
}
.menu-btn{
    float: left;
    margin-right: 20px;
}
.btn-section{
    margin-top: 25px;
}
#receipt-items{
    list-style-type: none;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    main {
        width: 100%;
        padding: 0 1rem;
    }
}