body {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    background: #f2f2f2;
    /* overflow-x: hidden; */
}
.main {
    font-family: Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 1200px;
}
#menu{
    background-color: transparent;
}
#cart {
    width: 40%;
    min-width: 300px;
    max-width: 400px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    font-size: 28px;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    /* border-bottom: 2px solid #6c4f4f;
    padding-bottom: 0.5rem; */
    text-align: center;
    color: #6c4f4f;
}
.category {
    background-color: #ffffff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.category h3 {
    margin: 0 0 1rem 0;
}
.quantity-controls {
    display: inline-block;
    margin-left: 10px;
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}
.btns{
    padding: 0.5rem 1rem;
    background-color: #765858;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btns:focus {
    outline: none;
}
.btns:hover{
    /* border: 1px solid #5b3e31; */
    background-color: #5b3e31;
}
.continue-btn{
    float: right;
    margin-right: 10px;
}
#cart {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
}

#cart-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#cart-items li {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
}

#total-price {
    font-weight: bold;
    margin-top: 1rem;
}

#cart-popup {
    display: none;
    position: fixed;
    top: 10%;
    right: 2%;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
#cart-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
#popup-cart-items li{
    padding: 0.5rem 0;
    list-style-type: none;
}
#notification {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
}
.order-forms{
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.details{
    padding: 15px;
    font-size: 20px;
}
.details input{
    padding: 10px;
    width: 300px;
    font-size: 18px;
}
.menu-btn{
    float: left;
    margin-right: 15px;
}
#receipt-items{
    list-style-type: none;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    main {
        width: 100%;
        padding: 0 1rem;
    }
}